@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&family=Joan&family=Lato:wght@400;700&family=Poppins:wght@400;700&family=Roboto&display=swap');

:root{
    --primary-clr:aliceblue;
    --secondary-clr:#91caf9;
    --text-clr:#1b3344
}
html{
    height: 100%;
}
html *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Lato', sans-serif;
    background-color: var(--primary-clr);
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
main{
    display: flex;
    flex-direction: column;
    /* max-width: 700px; */
    text-align: center;
    width: 50vw;
    align-items: center;
    margin: 0 auto;
    background-color: var(--primary-clr);
    color:var(--text-clr)
}
.container *{
    display: block;
    margin-bottom: 1rem;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin: 2rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}
header{
    margin-top: 2rem;
}
header h4{
    margin-top: 2rem;
}
table{
    margin: 0 auto;
    /* width: 70%;
    max-width: 700px; */
    border-spacing: 0;
    border-collapse: collapse;
    margin-bottom: 2rem;
    /* flex-shrink: 2; */

}
table caption{
    padding-bottom: 2rem;
}
table,th,td{
        border: 2px solid var(--text-clr);
}

th,td{
    padding: 5px 10px;
    border-top-width: 0;
    border-left-width: 0;
}

td:last-child {
    border-right-width: 0;
}

tr:last-child td {
    border-bottom-width: 0;
}
th:last-child {
    border-bottom-width: 0;
}
th{
    background-color: var(--secondary-clr);
}
tr:last-child{
    background-color: var(--secondary-clr);
}

@media screen and (max-width: 784px) {
    main{
        width: 100vw;
    }
    table{
        width: 100%;
    }
}
input{
    background-color: var(--secondary-clr);
    border: none;
    padding: 0.3rem;
    border-radius: 0.2rem;
    width: 50vw;
    max-width: 20rem;
}
button{
    background-color: transparent;
    border: 0.2rem solid var(--secondary-clr);
    padding: 0.2rem;
    border-radius: 0.4rem;
    margin: 0 auto;
    margin-top: 2rem;
}
button:hover {
    background-color: var(--secondary-clr);
    color: var(--text-clr);
    border-color: white;
    transform: scale(1.2);
}
#error-msg{
    color: red;
    font-weight: 700;
}


/* footer */
.footer {
    overflow: hidden;
    margin: 0 auto;
    background-color: var(--secondary-clr);
    color: var(--text-clr);
    width: 100vw;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
}

footer .link-list {
    text-align: center;
    margin: 1rem 0;
    list-style-type: none;
    margin: 1rem auto;
}

footer .link-list li {
    display: inline;
    padding: 1rem;
}

footer .footer-text {
    font-weight: bold;
    font-size: large;
}

footer li a i {
    color: black;
    font-size: 1.3rem;
}

footer li a i:hover {
    transform: scale(1.5);
}